body{
	background-image: url("immagini/blue_bg.jpg");
	background-attachment: fixed;
	background-size: cover;
	color: #ffffff;
}
h1.titolo{
	color: #12c3e3;
	font-size: 4rem;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	text-align: center;
}
#grafico{
	width: 400;
	height: 200;
}
var{
	font-weight: bold;
	font-style: normal;
}
#menu{
	position: fixed;
	top: 0; right: 0; left: 0;
	background: #9dd0d983;
	font-family: Arial, Helvetica, sans-serif;
	text-align: right;
	height: 1rem;
	padding: 1rem;
	z-index: 99999;
}