body{
	background-image: url("immagini/white_bg.jpg");
	background-attachment: fixed;
	background-size: cover;
	color: #212020;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	text-shadow:0.1rem 0.3rem #2120201d;
}
h1.titolo{
	color: #12c3e3;
	font-size: 4rem;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	text-align: center;
}
#grafico{
	width: 400;
	height: 200;
}
.card {
    background: #e1f4f0e2;
    padding: 20px;
    margin: 15px 0;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(1, 1, 39, 0.08);
}
*{
    transition: all 0.25s ease;
}

a{
	color: #212020;
	font-style: normal;
	text-decoration: none;
}
a:hover{
	color: #00ad9c;
	font-size: 1rem;
}
#menu a{
	margin-left: 2rem;
}
var{
	font-weight: bold;
	font-style: normal;
}
#menu{
	position: fixed;
	top: 0; right: 0; left: 0;
	background: #ffffff;
	font-family: Arial, Helvetica, sans-serif;
	text-align: right;
	height: 1rem;
	padding: 1rem;
	box-shadow:0rem 0.3rem #0404040c;
	z-index: 99999;
}

input{
	background: #ffffff;
	border-radius: 2rem;
	padding-left: 1rem;
	padding-right: 1rem;
	border: 0rem solid #aeadad;
	box-shadow:0.2rem 0.2rem #2120201d;
}
.btn{
    background: #ffffff;
    padding: 10px 18px;
    border-radius: 8px;
    color: rgb(0, 0, 0);
    font-weight: 600;
    border: none;
    cursor: pointer;
    box-shadow: 0 3px 10px rgba(0,0,0,0.15);
}
.btn:hover {
    background: #3a7acc;
	color: #ffffff;
}

#settingsBox{
	background: #ffffff;
	border-radius: 2rem;
	border: 0.1rem solid #aeadad;
	box-shadow:0.2rem 0.2rem #2120201d;
	padding:3rem;

}
