body{
	background: #ffffff;
	background-attachment: fixed;
	background-size: cover;
	color: #212020;
}
h1.titolo{
	color: #12c3e3;
	font-size: 4rem;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	text-align: center;
}
#grafico{
	width: 400;
	height: 200;
}
a{
	color: #212020;
	font-style: normal;
	text-decoration: none;
}
a:hover{
	color: #00ad9c;
	font-size: 1rem;
}
var{
	font-weight: bold;
	font-style: normal;
}
#menu{
	position: fixed;
	top: 0; right: 0; left: 0;
	background: #9dd0d9ad;
	font-family: Arial, Helvetica, sans-serif;
	text-align: right;
	height: 1rem;
	padding: 1rem;
	z-index: 99999;
}