body{
	background-image: url("immagini/blue_bg.jpg");
	background-attachment: fixed;
	background-size: cover;
	color: #ffffff;
}
h1.titolo{
	color: #12c3e3;
	font-size: 4rem;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}